.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;

    box-shadow: 0px 1px 0.1em 0.1em rgba(0, 0, 0, 0.1);
}


.Navbar__content {
    width: 40em;
    display: grid;
    place-items: center;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 'brand search actions';
}

.Navbar__content * {
    width: 100%;
}

.Navbar__content__brand {
    grid-area: brand;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 1.8rem;
}

.Navbar__content__search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.Navbar__content__actions {
    width: 100%;
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    place-items: center;
    gap: 1em;
}
